#input-component{
  display: flex;
  /* outline: 1px solid blue; */
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
.label-icon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.label{
  font-size: 22px;
  font-weight: 500;
  padding-left: 40px
}
.icon-box-18{
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-ok-icon{
  background-image: url(assets/ok.png);
}
.auth-no-icon{
  background-image: url(assets/no.png);
}
.input-box{
  display: flex;
  justify-content: center;
}
.input-auth{
  outline: none;
  border: none;
  border-bottom: 1px solid #BBBBBB;
  width: 80%;
  padding: 5px;
}
.button{
  width: 70%;
}
.input-auth::placeholder{
  font-size: 16px;
}
.auth-button{
  cursor: pointer;
  font-size: 16px;
  width: 10%;
  border: 1px solid #BBBBBB;
  border-radius: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4378FF;
}
.auth-button:hover{
  border: 1px solid #9b9b9b;
  background-color: #fdfdfd;
}
.error{
  border-bottom: 1px solid #f80202;
}
.garytext{
  color: gray;
}
