#input-component{
  display: flex;
  /* outline: 1px solid blue; */
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
.label-icon{
  display: flex;
  align-items: center;
  gap: 5px;
}
.label{
  font-size: 22px;
  font-weight: 600;
  padding-left: 40px
}
.input-box{
  display: flex;
  justify-content: center;
}
.input{
  outline: none;
  border: none;
  width: 80%;
  border-bottom: 1px solid #BBBBBB;
  padding: 5px;
}
.button{
  width: 70%;
}
.input::placeholder{
  font-size: 16px;
}
.auth-button{
  cursor: pointer;
  font-size: 16px;
  width: 10%;
  border: 1px solid #BBBBBB;
  border-radius: 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4378FF;
}
.auth-button:hover{
  border: 1px solid #9b9b9b;
  background-color: #fdfdfd;
}
.error{
  border-bottom: 1px solid #f80202;
}
.garytext{
  color: gray;
}