#category-button{
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 6px;
  font-size: 13px;
}
#category-button:hover{
  background-color: #fafafa;
}









.icon-box-10-7{
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 7px;
}
.spread{
  background-image: url(assets/spred.png);
}
.fold{
  background-image: url(assets/fold.png);
}