.check-box{
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
}
.icon-box-20{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.check{
  background-image: url(assets/check.png);
}
.no-check{
  width: 18px;
  height: 18px;
  border:1px solid #BBBBBB;
  border-radius: 20px;

}