#wrap{
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  /* justify-content: space-around; */
  align-items: center;

}
.container{
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 10px;

}
.top{
  display: flex;
  gap: 20px;
}
.top-big-text{
  font-size: 32px;
  font-weight: 600;
}
.top-small-text{
  display: flex;
  align-items: last baseline;
}
.width-line{
  width: 100%;
  border: 1px solid #000000;
}
.bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
}
.middle-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
}
.middle-box-wrap{
  display: flex;
  gap: 15px;
}
.title-input-box{
  outline: 1px solid #000000;
  padding: 20px 0px 20px 10px;
  border-radius: 20px;
  width: 99%;
}
.title-input{
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 26px;
}
.content-textarea-box{
  display: flex;
  border: 1px solid #000000;
  min-height: 500px;
  border-radius: 20px;
}
.textarea-box{
  width: 85%;
  border-right: 1px solid #000000;
  display: flex;
}
.textarea{
  outline: none;
  border: none;
  resize: none;
  margin: 20px;
  font-size: 16px;
  width: 95%;
  background: none;
}
.img-box{
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  gap: 10px;

}
.img-box-content{
  margin-left: 20px;
  margin-top:10px;
  width: 80px;
  height: 80px;
  position: relative;
}
.img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.icon-box18{
  position: absolute;
  right: 5px;
  top:5px;
  cursor: pointer;
  ;
}
.close{
  background-image: url(assets/close.png);
}
.tags-box{
  display: flex;
  border: 1px solid #000000;
  padding: 5px;
  gap: 5px;
  border-radius:15px ;
  flex-wrap: wrap;
}
.input{
  border: none;
  outline: none;
  font-size: 12px;
  width: 250px;
}
.tag{
  background-color: #FF7A00;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 3px 8px;
}
.middle-right{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  align-items: center;
  gap: 35px;
  
}
.middle-right-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-button{
  background-color: #FF7A00;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
}
.submit-button:hover{
  background-color: #ff8717;
}
.icon-box-4137{
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.img-button{
  background-image: url(assets/imgbutton.png);
}


/* 카테고리 */
.category-button-box{
  position: relative;
}
.price-wrap{
  width: 180px;
  height: 120px;

}
.c-wrap{
  box-shadow: 0px 0px 3px 0.2px;
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 10px;
  gap: 8px;
  padding: 10px;
}
.price-input-box{
  background-color: #F1F1F1;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.won{
  margin-left: 10px;
}
.category-label{
  font-size: 16px;
  font-weight: 600;
}
.price-input{
  outline: none;
  border: none;
  font-size: 14px;
  background-color: inherit;
  width: 100%;
}
.category-wrap{
  width: 150px;
}
.transactions-wrap{
  width: 100px;
}
.category-input-button-box{
  width: 100%;
  display: flex;
  justify-content: right;
}
.price-input-button{
  display: flex;
  width: 100%;
}
.category-input-button{
  width: 50px;
  height: 20px;
  background-color: #EB754F;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
  border-radius: 60px;
}
.cateogory-checkbox-wrap{
  display: flex;
  flex-direction: column;
}
.cateogory-checkbox-wrap{
  gap: 8px;
}